<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/h2pro_icon"
        android:roundIcon="@drawable/h2pro_icon"
        android:label="H2pro"
        android:supportsRtl="true"
        android:theme="@style/Theme.H2pro">
        <activity android:name=".CashTransactionActivity" android:exported="false" />
        <activity android:name=".FinancialReportsActivity" android:exported="false" />
        <activity android:name=".ReturnsActivity" android:exported="false" />
        <activity android:name=".MultiInvoiceActivity" android:exported="false" />
        <activity android:name=".SalesActivity" android:exported="false" />
        <activity android:name=".PurchaseActivity" android:exported="false" />
        <activity android:name=".InventoryActivity" android:exported="false" />
        <activity android:name=".GeneralLedgerActivity" android:exported="false" />
        <activity android:name=".SystemAdminActivity" android:exported="false" />
        <activity android:name=".SystemSetupActivity" android:exported="false" />
        <activity android:name=".ModulesActivity" android:exported="false" />
        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
